.button-delete{
	background-color: red;
	color: white;
	border: none;
	padding: 5px;
	margin: 10px;
	font-weight: 800;
}

.error{
	color : red;
	border: 1px solid red;
	padding: 10px;
	margin: 15px 5px;
}